<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - AniWave</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
    <header>
        <h1>AniWave</h1>
        <nav>
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/login}">Login</a></li>
                <li><a th:href="@{/register}">Register</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="register">
            <h2>Register</h2>
            <form action="#" th:action="@{/register}" th:method="post" th:object="${user}">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" auto-complete="username" th:field="*{username}" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" auto-complete="new-password" th:field="*{password}" required>
                <button type="submit">Register</button>
            </form>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 AniWave. All rights reserved.</p>
    </footer>
    <!-- <script th:src="@{/js/main.js}" defer></script> -->
</body>
</html>
