body {
	font-family:georgia, serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #ffffff;
}

header {
	background-color: #ffffff;
   	
	background-image:linear-gradient(180deg, #E4E6Eb 10%, #B0B3B8 55%);
	
    padding: 0rem;
}

header h1 {
	font-size: 90px;
	  font-weight: 600;
	  font-family:georgia, serif;
	  color: #c4e7cf;
	  text-shadow: 3px 3px 4px  #957dad;
	  text-align:center;
    
    
}
#featured > h2{
	font-size: 40px;
		  font-weight: 300;
		  font-family:georgia, serif;
		  color: #e4edf2;
		  text-shadow: 2px 2px 0px  rgb(255, 128, 0);
		               
					   margin-top:-20px;
		               
}


nav ul {
    list-style-type: none;
    padding: 1.5rem;
	
}

nav ul li {
    display: inline;
    margin-right: 1rem;
	
	
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
	font-family:georgia, serif;
	
}

main {
    padding: 2rem;
}

#search {
    margin-bottom: 2rem;

}

.anime-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.anime-card {
    background-color: floralwhite;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease;
	display:flex;
	flex-direction:column;
}

.anime-card:hover {
    transform: scale(1.05);
}

.anime-card img {
    width: 100%;
    height: 100%;
}

.anime-card h3 {
    padding: 0.5rem;
    margin: 0;
    text-align: center;
}

footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
form {
    width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
.anime-actions{
	display:flex;
	justify-content:space-between;
	margin-top:10px;
}

.play-button, .comment-button{
	padding: 5px 10px;
	border:none;
	border-radius:5px;
	cursor:pointer;
	transition:background-colot 0.3s;
}
.play-button{
	background-color:#4CAF50;
	color:white;
}
.comment-button{
	background-color:#008CBA;
	color:black;
	text-decoration:none;
}
.play-button:hover, .comment-button:hover{
	opacity:0.8;
}
main{
	background-color: #ffffff;
	background-image: linear-gradient(315deg, #18191A 20%, #434343 60%);
	

}
#comments, #add-comment{
	color:black;
	font-family:georgia, serif;
}
